html, body, canvas {
    margin:0;
    padding:0;
    border:0;
    max-height:100%;
    max-width:100%;
    background:#000000;
}

body {
    text-align:center;
}

canvas {
    display: inline;
    height: 100vh;
    --webkit-aspect-ratio: 4 / 3;
    aspect-ratio: 4 / 3;
    vertical-align: top;
}